body {
    height: 1000px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #fff;
    background: #f4f4f4;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.heading-container {
    background-image: url(../images/library-background.jpg);
    padding-top: 150px;
    padding-bottom: 50px;
    background-attachment: fixed;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 30px auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    text-align: center;
}

.library {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 200px;
    padding: 20px;
    margin-top: 50px;
    background-image: url(../images/blue-book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    transition: all 0.3s;
}

.book:hover {
    box-shadow: 0px 0px 17px black;
    transform: scale(1.1);
}

.book:nth-child(even) {
    background-image: url(../images/red-book.jpg);
}

.book > * {
    flex-basis: 100%;
}

.lightbox {
    visibility:hidden;
    position:absolute;
    background: #f4f4f4;
    color: black;
    border: 10px solid #fff;
    z-index:100;
    width: 300px;
    padding: 20px 50px 40px 50px;
}

.new-book-info {
    display: flex;
    flex-wrap: wrap;
}

.new-book-info > * {
    flex-basis: 100%;
    padding: 10px;
}

.dimmer{
    background: #000;
    position: absolute;
    opacity: .5;
    top: 0;
    z-index:99;
}

.addBook:hover {
    transform: scale(1.1);
}

.read {
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.315);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.973);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2195f3de;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.button-nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.button-nav > * {
    border: 3px solid white;
    color: #fff;
    padding: 10px 40px;
    background: none;
    font-size: 24px;
}

.title {
    font-size: 24px;
    text-align: center;
}

.author {
    font-size: 17px;
}

.delete {
    border: 3px solid #fff;
    padding: 1px 40px;
    background: none;
    color: #fff;
}

button {
    transition: all 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.315);
    transform: scale(1.1);
}

.add-to-lib {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    background: none;
    font-size: 17px;
    margin-top: 20px;
}